<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
  window.addEventListener('load', function(){
    window.cookieconsent.initialise({
      palette: {
        popup: {
          background: "#28d7b4",
          text: "#000000"
        },
        button: {
          background: "#ffffff",
          text: "#000000"
        }
      },
      theme: "classic",
      position: "bottom",
      content: {
        message: "This site uses cookies to analyze traffic via Google Analytics.",
        dismiss: "OK",
        // link: "Learn more",
        // href: "/privacy"
      }
    });
  });
</script>
