<title>{{ page.title }}</title>

<!-- MATHJAX-SETTING -->
<script>
window.MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
};
</script>
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- FONT-SETTING -->
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<link rel="stylesheet" href="..\..\assets\css\style.css">
<link rel="icon" href="..\..\assets\img\favicon-v2.svg">

<!-- ANALYTICS -->
<script data-goatcounter="https://rizalpurnawan23.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>