/* style.css */
/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* background-color: #f9f9f9; */
  background-color: whitesmoke;
  color: #333;
  counter-reset: h2;
}

/* ENUMERATED SECTION */
h2.counter {
  counter-increment: h2;
  counter-reset: h3;
}

h2.counter::before {
  content: counter(h2) ". ";
}

h3.counter {
  counter-increment: h3;
}

h3.counter::before {
  content: counter(h2) "." counter(h3) " ";
}

header {
  background-color: rgb(40, 215, 180);
  color: white;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

footer {
  background-color: rgb(55, 130, 180);
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1rem;
  text-align: right;
}

nav a {
  color: white;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  margin: 0 0.5rem;
}

nav a:hover{
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
  color: black;
}

a {
  color: rgb(55, 130, 180);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
  color: rgb(40, 215, 180);
}

main {
  padding: 2rem;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 2rem;
  padding-right: 4rem;
  color: #555;
  margin: 1rem 0;
  font-style: italic;
}


/* CUSTOMIZED */
.opening {
  text-align: center;
  padding: 5rem;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.opening_title {
  padding-top: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: rgb(40, 215, 180);
}

.opening img {
  max-height: 23rem;
  padding-bottom: 1rem;
}

.main_content {
  padding-top: 2rem;
  padding-left: 14rem;
  padding-right: 14rem;
}

.boxed_content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 74rem;
  display: block;
  border: 0.6px solid rgb(220, 220, 220);
  background-color: white;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.feat {
  background-color: rgb(40, 215, 180);
  padding: 1rem;
  color: black;
  font-size: medium;
}

.feat_title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  /* text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem; */
  color: white;
}

.feat_title a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

.feat_title a:hover{
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
  color: black;
}

.double_offer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.offer_button {
  padding: 1rem 2rem;
  background-color: rgb(40, 215, 180);
  border: none;
  border-radius: 0.2rem;
  margin-right: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
  color: white;
  text-decoration: none;
  /* text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem; */
}

.offer_button a {
  color: white;
  text-decoration: none;
}

.offer_button a:hover{
  text-decoration: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
}

.socmed {
  text-align: left;
  padding: 0.6rem;
  font-size: medium;
}

.socmed_title {
  font-weight: bold;
  padding-bottom: 0.6rem;
}

.socmed_icon {
  display: flex;
  align-items: center;
  /* padding-left: 1.2rem; */
  padding-top: 0.2rem;
  text-align: left;
  font-size: medium;
}

.socmed_icon img {
  max-width: 1.4rem; padding-right: 1rem;
}

.socmed_icon a {
  color: white;
  text-decoration: none;
}

.socmed_icon a:hover{
  text-decoration: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.2rem;
}

.article_front {
  padding-bottom: 4rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.article_title {
  font-weight: bold;
  font-size: 1.6rem;
}

.article_auth {
  padding-top: 2rem;
}

.article_auth img {
  max-height: 0.8rem;
}

.anecdote_title {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding-bottom: 1rem;
}

.toc_section {
  padding-top: 0.4rem;
  font-size: large;
}

.toc_subsection {
  padding-left: 0rem;
}

.toc_subsubsection {
  padding-left: 1.4rem;
}

.thm {
  color: rgb(50, 90, 125);
}

.thm a {
  color: rgb(40, 215, 180);
  text-decoration: none;
}

.thm a:hover{
  text-decoration: none;
  color: black;
}


/* FOR MOBILE */
@media (max-width: 1080px) {
  body {
    font-size: 90%;
    /* padding: 1rem; */
  }

  .container {
    flex-direction: column;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .main_content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Adjust nav/menu if needed */
}

