/* CSS FORMATTING */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: whitesmoke;
    color: #333;
    counter-reset: h2;
}

/* Enumerated Section */
h2.counter {
    counter-increment: h2;
    counter-reset: h3;
}

h2.counter:before {
    content: counter(h2) ". ";
}

h3.counter {
    counter-increment: h3;
}

header {
    background-color: rgb(40, 215, 180);
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: small;
}

footer {
    background-color: rgb(55, 130, 180);
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 1.4%;
    text-align: right;
    font-size: small;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.4rem;
    color: black;
}

a {
    color: rgb(55, 130, 180);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(40, 215, 180);
}

main {
    font-size: small;
}

blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1%;
    padding-right: 1%;
    margin: 1% 0;
    font-style: italic;
}

img.featured {
    max-width: 60%;
}


/* CUSTOMIZED */
.home_title {
    padding-top: 2%;
    /* padding-left: 4%; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    color: rgb(40, 215, 180);
}

img.home {
    max-width: 40%;
}

.home_subtitle {
    padding-top: 0;
    /* padding-left: 4%; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    color: rgb(55, 130, 180);
}

.content {
    max-width: 80%;
    margin: auto;
}

.feat_title {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 150%;
}

.feat_title a {
    color: white;
}

.feat_title a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.14rem;
    text-underline-offset: 0.2rem;
    color: black;
}

.quotation_pic {
    max-width: 25%;
}

.offer {
    padding: 2% 3%;
    background-color: rgb(40, 215, 180);
    border: none;
    border-radius: 0.2rem;
    margin: 0.5%;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-underline-offset: 0.4rem;
}

.offer-env{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 10%;
}

.offer a {
    color: white;
    text-decoration: none;
}

.offer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.4rem;
    color: black;
}

.socmed_title {
    padding-top: 0%;
    padding-left: 4%;
    font-weight: bold;
    text-align: left;
}

.socmed_icon {
    display: flex;
    align-items: center;
    padding-top: 0.4%;
    text-align: left;
    font-size: small;
}

.socmed_icon a {
    color: white;
    text-decoration: none;
}

.socmed_icon img {
    padding-left: 4%;
    max-width: 4%;
    margin-right: 1.4%;
}

.logo {
    max-width: 10%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.boxed_content {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    max-width: 85%;
    display: block;
    border: 0.6px solid rgb(220, 220, 220);
    background-color: white;
    border-radius: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.opening {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    text-align: center;
    max-width: 80%;
}

.opening-title {
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: rgb(40, 215, 180);
}

.opening-bar {
    max-width: 4rem;
    height: 0.4rem;
    border: none;
    background-color: rgb(55, 130, 180);
}

.opening-caption {
    margin-top: 2%;
}

.about-title {
    padding-top: 4rem;
    font-size: 240%;
    font-weight: bold;
    color: rgb(40, 215, 180);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.article {
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.article-title {
    font-weight: bold;
    font-size: large;
}

.article-author {
    padding-top: 4%;
    font-size: medium;
}

.article-author img {
    max-width: 4%;
}

.anecdote-title {
    text-align: center;
    font-weight: bold;
}


/* TABLE OF CONTENT: toc */
.toc-section {
    font-size: medium;
}

.toc-subsection {
    padding-left: 1rem;
}

.toc-subsubsection {
    padding-left: 2rem;
}

.thm {
    color: rgb(50, 90, 125);
}


/* FOR DESKTOP */
@media (min-width: 800px) {
    body {
        font-size: medium;
    }

    header {
        font-size: medium;
        padding-top: 1.4%;
        padding-bottom: 1.4%;
    }

    footer {
        font-size: medium;
    }

    main {
        font-size: medium;
    }

    nav a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        margin: 0 1%;
    }

    nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 0.4rem;
        color: black;
    }

    img.featured {
        max-width: 30%;
    }

    img.home {
        max-width: 20%;
    }

    .content {
        max-width: 60%;
        margin: auto;
    }

    .quotation_pic {
        max-width: 10%;
    }

    .offer {
        padding: 1% 2%;
        background-color: rgb(40, 215, 180);
        border: none;
        border-radius: 0.2rem;
        margin: 0.5%;
        font-family: 'Poppins', sans-serif;
        font-size: large;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-underline-offset: 0.4rem;
    }

    .socmed_icon {
        display: flex;
        align-items: center;
        padding-top: 0.4%;
        text-align: left;
        font-size: medium;
    }

    .socmed_icon img {
        padding-left: 4%;
        max-width: 1.4%;
        margin-right: 1%;
    }

    .logo {
        max-width: 4%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .boxed_content {
        padding-right: 4%;
        max-width: 60%;
        border-radius: 0.2rem;
        margin-top: 1%;
    }

    .about-title {
        font-size: 400%;
    }

    .article-title {
        font-weight: bold;
        font-size: larger;
    }

    .article-author {
        font-size: large;
    }

    .article-author img {
        max-width: 1.5%;
    }
}